<a href="https://colab.research.google.com/github/santheipman/CS114.K21.KHTN/blob/master/kaggle_download_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"sannvu","key":"fc687356c8afc8a2a3ef6134119ce71c"}'}

In [2]:
!ls -lha kaggle.json

-rw-r--r-- 1 root root 62 Apr  5 17:40 kaggle.json

In [0]:
# install the Kaggle API client.
!pip install -q kaggle

In [0]:
# The Kaggle API client expects this file to be in ~/.kaggle,
# so move it there.
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

# Permissions change avoids a warning on Kaggle tool startup.
!chmod 600 ~/.kaggle/kaggle.json

In [5]:
# List available datasets.
# https://github.com/Kaggle/kaggle-api
!kaggle datasets list -s face

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                                          title                                            size  lastUpdated          downloadCount
-----------------------------------------------------------  ----------------------------------------------  -----  -------------------  -------------
dataturks/face-detection-in-images                           Face Detection in Images                         55KB  2018-07-12 09:34:14           5138
splcher/animefacedataset                                     Anime Face Dataset                              395MB  2019-10-13 16:33:20            562
atulanandjha/lfwpeople                                       LFW - People (Face Recognition)                 232MB  2019-11-15 19:45:43           1824
ciplab/real-and-fake-face-detection                          Real and Fake Face Detection                    431MB  2019-01-14 14:54:52           2311
selfishgene/youtube-faces-with-facial-keypoints              YouTube Faces With Facial Keypoints              10GB  2017-11-14 05:46:08           3926
timesler/facenet-pytorch-vggface2                            facenet pytorch vggface2                        112MB  2020-03-12 03:27:00           1084
berkeleyearth/climate-change-earth-surface-temperature-data  Climate Change: Earth Surface Temperature Data   85MB  2017-05-01 17:29:10          46918
kostastokis/simpsons-faces                                   Simpsons Faces                                  442MB  2018-09-28 17:38:04           3082
jessicali9530/celeba-dataset                                 CelebFaces Attributes (CelebA) Dataset            1GB  2018-06-01 20:08:48          26248
facebook/facebook-v-results                                  Facebook V Results: Predicting Check Ins          3GB  2019-11-17 21:51:39           2710
jessicali9530/lfw-dataset                                    Labelled Faces in the Wild (LFW) Dataset        112MB  2018-05-17 19:57:27           3533
drgilermo/face-images-with-marked-landmark-points            Face Images with Marked Landmark Points         105MB  2017-09-19 18:39:17           2714
soumikrakshit/anime-faces                                    Anime Faces                                     441MB  2019-05-16 10:38:47           1422
humananalog/blazeface-pytorch                                BlazeFace PyTorch                               378KB  2020-01-12 21:24:08           1527
gpreda/haar-cascades-for-face-detection                      Haar Cascades for Face Detection                  1MB  2019-12-21 21:09:41            473
greatgamedota/ffhq-face-data-set                             FFHQ Face Data Set                                2GB  2019-10-12 22:12:09            109
mchirico/cheltenham-s-facebook-group                         Cheltenham's Facebook Groups                       0B  2018-04-02 18:55:36           1419
olgabelitskaya/yale-face-database                            Yale Face Database                               12MB  2018-09-05 09:54:51           1681
mrisdal/2016-us-presidential-debates                         2016 US Presidential Debates                    120KB  2016-10-24 03:13:26           3807
mrisdal/fact-checking-facebook-politics-pages                Fact-Checking Facebook Politics Pages            45KB  2017-06-05 19:09:40            941

In [6]:
# Download a dataset
!kaggle datasets download -d 'berkeleyearth/climate-change-earth-surface-temperature-data'

Downloading climate-change-earth-surface-temperature-data.zip to /content
 90% 76.0M/84.7M [00:01<00:00, 30.5MB/s]
100% 84.7M/84.7M [00:01<00:00, 48.7MB/s]

In [7]:
!unzip climate-change-earth-surface-temperature-data.zip

Archive:  climate-change-earth-surface-temperature-data.zip
  inflating: GlobalLandTemperaturesByCity.csv
  inflating: GlobalLandTemperaturesByCountry.csv
  inflating: GlobalLandTemperaturesByMajorCity.csv
  inflating: GlobalLandTemperaturesByState.csv
  inflating: GlobalTemperatures.csv

In [8]:
!ls

climate-change-earth-surface-temperature-data.zip
GlobalLandTemperaturesByCity.csv
GlobalLandTemperaturesByCountry.csv
GlobalLandTemperaturesByMajorCity.csv
GlobalLandTemperaturesByState.csv
GlobalTemperatures.csv
kaggle.json
sample_data

In [9]:
import pandas as pd

df = pd.read_csv("GlobalLandTemperaturesByCity.csv")
df

                 dt  AverageTemperature  ...  Latitude Longitude
0        1743-11-01               6.068  ...    57.05N    10.33E
1        1743-12-01                 NaN  ...    57.05N    10.33E
2        1744-01-01                 NaN  ...    57.05N    10.33E
3        1744-02-01                 NaN  ...    57.05N    10.33E
4        1744-03-01                 NaN  ...    57.05N    10.33E
...             ...                 ...  ...       ...       ...
8599207  2013-05-01              11.464  ...    52.24N     5.26E
8599208  2013-06-01              15.043  ...    52.24N     5.26E
8599209  2013-07-01              18.775  ...    52.24N     5.26E
8599210  2013-08-01              18.025  ...    52.24N     5.26E
8599211  2013-09-01                 NaN  ...    52.24N     5.26E

[8599212 rows x 7 columns]